{
  "openapi": "3.0.1",
  "info": {
    "title": "Api V3 documentación",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.artisn.desarrollo-redbrand.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/authentication/login": {
      "post": {
        "description": "Este endpoint permite obtener el token de acceso para clientes OAuth2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "respuesta al inciar sesión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "El token de acceso que se utilizará en la API. ¡NO EXPONGA ESTE TOKEN AL CLIENTE!",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "error de autorización",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v3/stores": {
      "get": {
        "description": "Este endpoint permite listar las tiendas de una marca registradas en el sistema.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "query",
            "description": "Identificador único de la marca",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Store response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          }
        }
      }
    },
    "/v3/channels-stores": {
      "post": {
        "description": "Este endpoint permite registrar tiendas y canales de venta en el sistema. Importante!: Cada request enviado se procesa como una nueva configuración, por lo que si una tienda, canal de venta, bodega, ... no es enviado toda su configuración será eliminada.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stores": {
                    "type": "array",
                    "description": "Listado de tiendas a crear",
                    "items": {
                      "$ref": "#/components/schemas/Store"
                    }
                  },
                  "channels": {
                    "type": "array",
                    "description": "Listado de canales de venta a crear",
                    "items": {
                      "$ref": "#/components/schemas/Channel"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "respuesta al inciar sesión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "El token de acceso que se utilizará en la API. ¡NO EXPONGA ESTE TOKEN AL CLIENTE!",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "error de autorización",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v3/stores/{storeId}": {
      "get": {
        "description": "Este endpoint permite obtener la información de una tienda registrada en el sistema.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "query",
            "description": "Identificador único de la marca",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "description": "Identificador único de la tienda",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Store response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          }
        }
      },
      "put": {
        "description": "Este endpoint cambiar el estado de una tienda del sistema.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "query",
            "description": "dentificador único de la marca.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "description": "Identificador único de la tienda",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Estado al cual se actualizará la tienda"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Store response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          }
        }
      }
    },
    "/v3/lists/sync-summary/lists": {
      "get": {
        "summary": "Obtener informe de sincronización",
        "description": "Permite obtener un informe detallado de: estado de la sincronización, categorías, productos, modificadores, opciones de modificadores, errores y advertencias de la última sincronización de una tienda.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "query",
            "required": true,
            "description": "Identificador único de la marca, este identificador es proporcionado por Trade.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "description": "Identificador único de la tienda.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Identificador del canal de venta.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "channelReferenceName",
            "in": "query",
            "required": false,
            "description": "Este campo es requerido si el atributo channelId no es único. Nombre único de referencia, este nombre será utilizado para la búsqueda y asociación del canal estandarizado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listName",
            "in": "query",
            "required": false,
            "description": "Este campo es requerido si se utiliza en el atributo 'additionalInfo.relatedLists' en la sincronización de canales de venta. Nombre de la lista.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informe de sincronización obtenido exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Estado de la sincronización."
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Informe de errores encontrados en la última sincronización."
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Informe de advertencias encontradas en la última sincronización."
                        },
                        "individualUpdates": {
                          "type": "boolean",
                          "description": "Determina si existieron actualizaciones individuales de productos o tiendas."
                        },
                        "list": {
                          "type": "object",
                          "properties": {
                            "listId": {
                              "type": "string",
                              "description": "Identificador de la lista."
                            },
                            "listName": {
                              "type": "string",
                              "description": "Nombre de la lista."
                            },
                            "schedules": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "day": {
                                    "type": "string"
                                  },
                                  "openTime": {
                                    "type": "string"
                                  },
                                  "closeTime": {
                                    "type": "string"
                                  }
                                }
                              },
                              "description": "Horario sincronizado de la lista."
                            },
                            "categories": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "categoryId": {
                                    "type": "string"
                                  },
                                  "categoryName": {
                                    "type": "string"
                                  },
                                  "childCategories": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "categoryId": {
                                          "type": "string"
                                        },
                                        "categoryName": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "description": "Listado de subcategorías sincronizadas y asociadas a la categoría."
                                  },
                                  "productListing": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "productId": {
                                          "type": "string"
                                        },
                                        "productName": {
                                          "type": "string"
                                        },
                                        "productModifiers": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "modifierId": {
                                                "type": "string"
                                              },
                                              "modifierName": {
                                                "type": "string"
                                              },
                                              "modifierOptions": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "optionId": {
                                                      "type": "string"
                                                    },
                                                    "optionName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "description": "Listado de opciones sincronizadas y asociadas al modificador."
                                              }
                                            }
                                          },
                                          "description": "Listado de modificadores sincronizados y asociados al producto."
                                        }
                                      }
                                    },
                                    "description": "Listado de productos sincronizados y asociados a la categoría."
                                  }
                                }
                              },
                              "description": "Listado de categorías sincronizadas."
                            }
                          },
                          "description": "Informe completo de datos sincronizados (categorías, productos, modificadores, opciones, etc.)."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Bad request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/products": {
      "post": {
        "summary": "Agregar una lista de productos",
        "description": "Este endpoint permite agregar una lista en el sistema. Importante: Cada request enviado se procesa como una nueva configuración, por lo que si un producto, categoría, modificador, etc. no es enviado toda su configuración será eliminada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "object",
                    "description": "Información general de la lista donde se agregarán los productos definidos",
                    "properties": {
                      "listName": { "type": "string", "description": "Nombre que identifique a la lista" }
                    }
                  },
                  "modifierGroups": {
                    "type": "array",
                    "description": "Permite definir un listado de modificadores que se utilizarán en la lista",
                    "items": {
                      "type": "object",
                      "properties": {
                        "modifierId": { "type": "string" },
                        "modifier": { "type": "string" },
                        "minOptions": { "type": "integer" },
                        "maxOptions": { "type": "integer" },
                        "visible": { "type": "boolean" },
                        "position": { "type": "integer" },
                        "type": { "type": "string" },
                        "modifierOptions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "optionId": { "type": "string" },
                              "productId": { "type": "string" },
                              "default": { "type": "boolean" },
                              "position": { "type": "integer" },
                              "additionalInfo": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Información adicional mediante pares clave-valor"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "Permite definir los productos o items, así como su organización en la lista",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": { "type": "string" },
                        "name": { "type": "string" },
                        "type": { "type": "string", "enum": ["PRODUCT", "MODIFIER", "COMPLEMENT"] },
                        "description": { "type": "string" },
                        "standardTime": { "type": "boolean" },
                        "featured": { "type": "boolean" },
                        "modifierId": { "type": "string" },
                        "taxesInfo": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "vatRatePercentage": { "type": "integer" },
                              "name": { "type": "string" },
                              "type": { "type": "string" }
                            }
                          }
                        },
                        "priceInfo": {
                          "type": "object",
                          "properties": {
                            "price": { "type": "number" },
                            "pointPrice": { "type": "integer" },
                            "suggestedPrice": { "type": "number" },
                            "suggestedPointPrice": { "type": "integer" }
                          }
                        },
                        "schedules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day": { "type": "string", "enum": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY", "SPECIAL"] },
                              "startDate": { "type": "string", "format": "date" },
                              "endDate": { "type": "string", "format": "date" },
                              "startTime": { "type": "string", "format": "time" },
                              "endTime": { "type": "string", "format": "time" }
                            }
                          }
                        },
                        "upselling": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "Conjunto de identificadores únicos de productos utilizados en la venta adicional"
                        },
                        "crossSelling": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "Conjunto de identificadores únicos de productos utilizados en la venta cruzada"
                        },
                        "tags": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "Permite asignar etiquetas al producto"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "imageCategoryId": { "type": "string" },
                              "fileUrl": { "type": "string" }
                            }
                          }
                        },
                        "productModifiers": {
                          "type": "array",
                          "description": "Permite asociar modificadores al producto",
                          "items": {
                            "type": "object",
                            "properties": {
                              "modifierId": { "type": "string" },
                              "position": { "type": "integer" }
                            }
                          }
                        },
                        "additionalInfo": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Permite definir información adicional mediante pares clave-valor"
                        }
                      }
                    }
                  },
                  "categories": {
                    "type": "array",
                    "description": "Permite definir las categorías de productos, así como su organización en la lista",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": { "type": "string" },
                        "categoryName": { "type": "string" },
                        "displayInList": { "type": "boolean" },
                        "featured": { "type": "boolean" },
                        "crossSellingCategory": { "type": "boolean" },
                        "position": { "type": "integer" },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "imageCategoryId": { "type": "string" },
                              "fileUrl": { "type": "string" }
                            }
                          }
                        },
                        "childCategories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categoryId": { "type": "string" },
                              "categoryName": { "type": "string" }
                            }
                          }
                        },
                        "productListing": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "productId": { "type": "string" },
                              "position": { "type": "integer" }
                            }
                          }
                        },
                        "schedules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day": { "type": "string" },
                              "startDate": { "type": "string" },
                              "endDate": { "type": "string" },
                              "startTime": { "type": "string" },
                              "endTime": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ecommerceChannelId": {
                    "type": "integer",
                    "description": "Identificador del canal de venta unificado, hace referencia al identificador del canal estandarizado."
                  },
                  "channelReferenceName": {
                    "type": "string",
                    "description": "Nombre único de referencia, utilizado para la búsqueda y asociación del canal estandarizado."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista registrada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listId": { "type": "string" },
                    "name": { "type": "string" },
                    "active": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/injection/token": {
      "post": {
        "summary": "Obtención de Token",
        "description": "Este servicio es expuesto por Trade para que el cliente pueda obtener el token de acceso que va a ser usado en otros métodos.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "integer",
                    "description": "ID del cliente"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Secreto del cliente"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "Tipo de concesión",
                    "example": "client_credentials"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "El token de acceso"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "El tipo de token",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Tiempo de expiración del token en segundos"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/injection/webhook/new-order": {
      "post": {
        "summary": "Webhook de nueva orden",
        "description": "Este servicio deberá ser implementado del lado del cliente para que Trade pueda consumirlo. Este servirá para notificar al cliente cada vez que ocurra un evento de nueva orden ingresada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "description": "Identificador único de la orden"
                  },
                  "status": {
                    "type": "string",
                    "description": "Estado de la orden"
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador único del cliente"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nombre del cliente"
                      },
                      "email": {
                        "type": "string",
                        "description": "Correo electrónico del cliente"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "string",
                          "description": "Identificador único del producto"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Cantidad del producto"
                        },
                        "price": {
                          "type": "number",
                          "description": "Precio del producto"
                        }
                      }
                    }
                  },
                  "total": {
                    "type": "number",
                    "description": "Total de la orden"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orden notificada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "El cuerpo de la solicitud no es válido"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/products/{vendorId}": {
      "put": {
        "summary": "Actualizar la información de un producto",
        "description": "Este endpoint permite actualizar la información de un producto.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "query",
            "required": true,
            "description": "Identificador único de la marca.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": {
                    "type": "string",
                    "description": "Identificador único de la tienda."
                  },
                  "productId": {
                    "type": "string",
                    "description": "Identificador único del producto."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Estado del producto."
                  },
                  "priceInfo": {
                    "type": "object",
                    "properties": {
                      "price": {
                        "type": "number",
                        "description": "Permite definir el precio final del producto (este precio se mostrará en el app o la web)."
                      },
                      "pointPrice": {
                        "type": "integer",
                        "description": "Permite el precio en puntos.",
                        "nullable": true
                      }
                    }
                  },
                  "scheduledActiveStatus": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Fecha futura en la que se desea activar el producto."
                  },
                  "scheduledInactiveStatus": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Fecha futura en la que se desea inactivar el producto."
                  }
                },
                "required": ["storeId", "productId", "active", "priceInfo"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Información del producto actualizada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Producto actualizado exitosamente"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Bad request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/coupon/redeem": {
      "post": {
        "summary": "Redimir promoción local",
        "description": "Permite redimir un cupón local utilizando un UID y código de promoción.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "Identificador único del usuario",
                    "example": "KQAR50EkIGM33tIVbs5w5GIDthe2"
                  },
                  "code": {
                    "type": "string",
                    "description": "Código de promoción",
                    "example": "D72A1088-980C-4942-9BAB-45430D2D1007"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "ID externo",
                    "example": "D72A1088-980C-4942-9BAB-45430D2D1007"
                  }
                },
                "required": [
                  "uid",
                  "code",
                  "external_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cupón redimido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Mensaje de éxito",
                      "example": "Cupón redimido correctamente"
                    },
                    "status": {
                      "type": "string",
                      "description": "Estado de la operación",
                      "example": "success"
                    }
                  },
                  "required": ["message", "status"]
                },
                "examples": {
                  "success": {
                    "summary": "Redención exitosa",
                    "value": {
                      "message": "Cupón redimido correctamente",
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensaje de error",
                      "example": "No autorizado"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Cupón no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensaje de error",
                      "example": "Cupón no encontrado"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fulfillment/authentication/login": {
      "post": {
        "summary": "Autenticación",
        "description": "Autenticación del usuario mediante login.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Campo requerido"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Campo requerido"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": ["client_credentials"]
                  }
                },
                "required": ["client_id", "client_secret", "grant_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autenticación exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },      
    "/v3/lists/{listId}": {
      "put": {
        "summary": "Registrar o editar una lista",
        "description": "Este endpoint permite registrar o editar una lista en el sistema. Importante: Cada request enviado se procesa como una nueva configuración, por lo que si un producto, categoría, modificador, etc. no es enviado toda su configuración será eliminada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "object",
                    "description": "Información general de la lista que se va a crear",
                    "properties": {
                      "ecommerceChannelId": {
                        "type": "integer",
                        "description": "Identificador del canal de venta unificado, hace referencia al identificador del canal estandarizado."
                      },
                      "channelReferenceName": {
                        "type": "string",
                        "description": "Nombre único de referencia, utilizado para la búsqueda y asociación del canal estandarizado."
                      },
                      "listId": {
                        "type": "string",
                        "description": "Identificador único de la lista. Ej: pickup-menu, daily-menu, ..."
                      },
                      "listName": {
                        "type": "string",
                        "description": "Nombre que identifique a la lista. Ej: 'menu app'"
                      },
                      "vendorId": {
                        "type": "string",
                        "description": "Identificador único de la marca, suministrado por Trade."
                      },
                      "storeId": {
                        "type": "string",
                        "description": "Identificador único de la tienda, se refiere al parámetro storeId de la creación de tiendas y canales de venta. El valor 'replicate_in_all' permite replicar la lista actual para todas las tiendas."
                      },
                      "channelId": {
                        "type": "string",
                        "description": "Identificador único del canal de venta, se refiere al parámetro channelId de la creación de tiendas y canales de venta."
                      },
                      "schedules": {
                        "type": "array",
                        "description": "Permite aplicar un horario a la lista.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "string"
                            },
                            "startDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "startTime": {
                              "type": "string"
                            },
                            "endTime": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "categories": {
                    "type": "array",
                    "description": "Permite definir las categorías de productos, así como su organización en la lista.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "string"
                        },
                        "categoryName": {
                          "type": "string"
                        },
                        "displayInList": {
                          "type": "boolean"
                        },
                        "featured": {
                          "type": "boolean"
                        },
                        "crossSellingCategory": {
                          "type": "boolean"
                        },
                        "position": {
                          "type": "integer"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "imageCategoryId": {
                                "type": "string"
                              },
                              "fileUrl": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "childCategories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categoryId": {
                                "type": "string"
                              },
                              "categoryName": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "productListing": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "productId": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "schedules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day": {
                                "type": "string"
                              },
                              "startDate": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "endTime": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "Permite definir los productos o items, así como su organización en la lista.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "standardTime": {
                          "type": "boolean"
                        },
                        "featured": {
                          "type": "boolean"
                        },
                        "priceInfo": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "number"
                            },
                            "salePrice": {
                              "type": "number"
                            }
                          }
                        },
                        "productModifiers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "modifierId": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "schedules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day": {
                                "type": "string"
                              },
                              "startDate": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "endTime": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "imageCategoryId": {
                                "type": "string"
                              },
                              "fileUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "modifierGroups": {
                    "type": "array",
                    "description": "Permite definir un listado de modificadores que se utilizarán en la lista.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "modifierId": {
                          "type": "string"
                        },
                        "modifier": {
                          "type": "string"
                        },
                        "minOptions": {
                          "type": "integer"
                        },
                        "maxOptions": {
                          "type": "integer"
                        },
                        "visible": {
                          "type": "boolean"
                        },
                        "position": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string"
                        },
                        "modifierOptions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "optionId": {
                                "type": "string"
                              },
                              "productId": {
                                "type": "string"
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "position": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "scheduledActivities": {
                    "type": "array",
                    "description": "Permite programar la activación e inactivación de productos en una fecha futura.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "string"
                        },
                        "scheduledActiveStatus": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "scheduledInactiveStatus": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista registrada o editada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuthBody": {
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ],
        "type": "object",
        "properties": {
          "client_id": {
            "description": "Identificador unico del cliente",
            "type": "string"
          },
          "client_secret": {
            "description": "Secreto unico del cliente",
            "type": "string"
          },
          "grant_type": {
            "description": "Tipo de acceso",
            "type": "string"
          }
        }
      },
      "Store": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Nueva tienda 805"
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "storeId": {
            "type": "integer",
            "example": 805
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "vendorId": {
            "description": "Identificador único de la marca. *Este identificador es suministrado por Trade.",
            "type": "integer",
            "example": 16
          },
          "schedulesByChannel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchedulesByChannel"
            }
          },
          "storeCode": {
            "type": "string",
            "example": "T005"
          },
          "taxesInfo": {
            "$ref": "#/components/schemas/TaxesInfo"
          },
          "contactInfo": {
            "$ref": "#/components/schemas/ContactInfo"
          },
          "deliveryInfo": {
            "$ref": "#/components/schemas/DeliveryInfo"
          },
          "locationInfo": {
            "$ref": "#/components/schemas/LocationInfo"
          },
          "storeChannels": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "0F049503-85CF-E511-80C6-000D3A3261F3"
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "DELIVERY"
          },
          "active": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SchedulesByChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "example": "0F049503-85CF-E511-80C6-000D3A3261F3"
          },
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schedule"
            }
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string",
            "example": "FRIDAY"
          },
          "endTime": {
            "type": "string",
            "example": "22:30"
          },
          "startTime": {
            "type": "string",
            "example": "10:00"
          }
        }
      },
      "TaxesInfo": {
        "type": "object",
        "properties": {
          "taxRate": {
            "type": "number",
            "example": 0
          },
          "vatRatePercentage": {
            "type": "number",
            "example": 12
          }
        }
      },
      "ContactInfo": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "23955400"
          },
          "address": {
            "type": "string",
            "example": "PICHINCHA / QUITO / INAQUITO / AV. AMERICA N37-288 Y VILLALENGUA"
          }
        }
      },
      "DeliveryInfo": {
        "type": "object",
        "properties": {
          "cookTime": {
            "type": "string",
            "example": "10"
          },
          "deliveryId": {
            "type": "integer",
            "example": 46356
          },
          "minimumOrder": {
            "type": "string",
            "example": "0.00"
          },
          "shippingCost": {
            "type": "number",
            "example": 1.99
          }
        }
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "example": "QUITO"
          },
          "latitude": {
            "type": "string",
            "example": "-0.17250869436401206"
          },
          "longitude": {
            "type": "string",
            "example": "-78.49125266075134"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "example": true
          },
          "channel": {
            "type": "string",
            "example": "Llevar"
          },
          "vendorId": {
            "type": "integer",
            "example": 16
          },
          "channelId": {
            "type": "string",
            "example": "0E049503-85CF-E511-80C6-000D3A3261F3"
          },
          "additionalInfo": {
            "$ref": "#/components/schemas/AdditionalInfo"
          },
          "channelReferenceName": {
            "type": "string",
            "example": "Llevar PICKUP"
          }
        }
      },
      "AdditionalInfo": {
        "type": "object",
        "properties": {
          "mediaId": {
            "type": "string",
            "example": "E683B6FE-65A9-4D01-B07B-FA1A3C8BCA8D"
          },
          "mediaName": {
            "type": "string",
            "example": "PICKUP"
          },
          "relatedLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedList"
            }
          }
        }
      },
      "RelatedList": {
        "type": "object",
        "properties": {
          "listId": {
            "type": "string",
            "example": "42203FD3-0194-EA11-80EE-000D3A019254"
          },
          "listName": {
            "type": "string",
            "example": "PICKUP ECOMMERCE T"
          }
        }
      },
      "StoreResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Store"
          },
          {
            "type": "object",
            "properties": {
              "storeImage": {
                "description": "Imagen de la tienda",
                "type": "array"
              },
              "paymentMethodAvailability": {
                "description": "",
                "type": "string"
              },
              "paymentMethodInfo": {
                "description": "",
                "type": "string"
              }
            }
          }
        ]
      },
      "List": {
        "type": "object",
        "properties": {
          "listId": {
            "type": "string",
            "example": "1"
          },
          "name": {
            "type": "string",
            "example": "MENU DOMICILIO"
          },
          "active": {
            "type": "boolean",
            "example": "true | false"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "statusCode": {
            "description": "Codigo de error de autenticación.",
            "type": "string"
          },
          "message": {
            "description": "Mensaje de error.",
            "type": "string"
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}